<div id="mobilenav">
  <i class="fa fa-bars"></i>

  <nav>
    <div class="mobilenav-item"><a href="/">Home</a></div>
    <div class="mobilenav-item"><a href="/info">INFO</a></div>
    <div class="mobilenav-subitems">
      <div class="mobilenav-item"><a href="#people">The people behind</a></div>
      <div class="mobilenav-item"><a href="#shipping">Shipping</a></div>
      <div class="mobilenav-item"><a href="#faqs">FAQ</a></div>
    </div>
    <div class="mobilenav-item">Home</div>
  </nav>
</div>
