---
layout: blog
title: Blog
class: blog
---


<div class="page-title">
  <h1>Blog</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-10">
      <div class="summer-content">
        {% if site.paginate %}
          {% for post in paginator.posts %}
            {% include post.html %}
          {% endfor %}

          {% include paginator.html %}
        {% endif %}
      </div>
    </div>
    <div class="col-xs-1 col-xs-offset-1 right-sidebar">
      {% include social.html %}
    </div>
  </div>
</div>
