@import 'constants';
@import 'mixins';

// HEADINGS RESETS
h1, h2, h3, h4, h5, h6
{
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
}

a, a:hover, a:active, a:visited
{
  text-decoration: none;
  outline: none;
}



html
{
  margin: 0;
  padding: 0;
}

body
{
  padding: 0;
  margin: 0;

  section
  {
    width: 100%;
    position: relative;
    padding: 80px 0;
    background: image-url('placeholders/branch2.jpg') 0 0 repeat;

    .container
    {
      position: relative;
    }

    .section-headline
    {
      h1
      {
        font-size: 90px;
        font-weight: 100;
        color: $green;
      }

      h2
      {
        font-weight: 100;
        font-size: 80px;
        color: $green;
      }

      h3
      {
        font-weight: 100;
        display: inline-block;
        border: 1px solid $black;
        border-left-style: none;
        border-right-style: none;
        margin: 20px 0;
      }
    }

    &.section-inverted
    {
      .section-headline
      {
        h1, h2, h3
        {
          color: $white;
        }

        h3
        {
          border-color: $white;
        }
      }
    }

    &.section-no-padding
    {
      padding: 0;

      .section-headline
      {
        position: absolute;
        top: 80px;
        left: 50%;
        width: 1000px;
        margin-left: -500px;
        z-index: 99;
      }
    }

    &.section-left,
    &.section-right
    {
      .section-headline, .section-body
      {
        position: relative;
        z-index: 99;
      }

      .section-body
      {
        width: 300px;
      }

      img
      {
        position: absolute;
        top: 0;
        z-index: 9;
      }
    }

    &.section-left
    {
      text-align: left;

      .section-body
      {
        float: left;
      }

      img
      {
        right: 0;
      }
    }

    &.section-center
    {
      text-align: center;
    }

    &.section-right
    {
      text-align: right;

      .section-body
      {
        float: right;
      }

      img
      {
        left: 0;
      }
    }
  }


  .purchaseFeatures
  {
    position: absolute;
    bottom: 0;
    margin: 0;

    .purchaseFeature
    {
      padding: 20px;
      min-height: 160px;
      color: $black;
      border-right: 2px solid $white;
      border-bottom-style: none;
      border-left-style: none;
      background-color: rgba($white, 0.5);

      &:hover
      {
        color: $white;
        background-color: rgba($green, 0.7);
      }

      &.last-item
      {
        border-right-style: none;
      }
    }
  }

  footer
  {
    position: relative;
    background-color: $grey10;
    color: $white;

    a
    {
      color: $white;
    }

    .row
    {
      margin: 0;
      padding: 60px 30px;
    }

    .phone
    {
      font-size: 2em;
    }

    .email
    {
      font-size: 0.8em;
      text-transform: uppercase;
    }

    nav
    {
      a
      {
        display: block;
      }
    }

    .socialmedia
    {
      margin-top: 25px;

      i
      {
        font-size: 2em;
        margin-right: 15px;
      }
    }
  }
}
