<!DOCTYPE html>
<html lang="en" class="wf-loading">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, user-scalable=no">

  <title>MATCHASOFA</title>

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">

  <meta property="og:title" content="MATCHASOFA" />
  <meta property="og:description" content="MATCHASOFA" />
  <meta property="og:url" content="http://matchasofa.com" />
  <meta property="og:image" content="MATCHASOFA"/>

  <!-- stylesheets -->
  <link rel="stylesheet" type="text/css" href="{% asset_path shared.css %}"/>
  <link rel="stylesheet" type="text/css" href="{% asset_path application.css %}"/>

  <!-- keyframes for skrollr -->
  <link rel="stylesheet" type="text/css" href="/skrollr/keyframes.css" data-skrollr-stylesheet />


  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <script type="text/javascript" src="//use.typekit.net/hld1xsj.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>

<body class="page-{{ page.name }}">

  {% include fb.html %}

  <div id="skrollr-body">
    <!-- INCLUDE THE HEADER -->
    {% include header.html %}

    {{ content }}

    {% include footer.html %}
  </div>

  <!-- MAIN JS STUFF -->
  <script type="text/javascript" src="{% asset_path shared.js %}"></script>
  <script type="text/javascript" src="{% asset_path application.js %}"></script>

</body>
</html>
