---
layout: layout
---

<!-- INCLUDE THE HEADER -->
{% include header.html %}
  <main>
    {% if page.showTitle == "true" %}<h1 class="page-title">{{ page.title | capitalize }}</h1>{% endif %}
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10">
          {{ content }}
        </div>
        <div class="hidden-xs hidden-sm col-md-1 col-md-offset-1 right-sidebar">
          {% include social.html %}
        </div>
      </div>
    </div>
  </main>
{% include footer.html %}
